
.corps{
text-align: center;
 background-color:#e6f2ff;
}

.main-title{
   background-color:#e6f2ff;
}

h1 {
  font-weight: 900
}

.page li{
  text-align: left;
  margin-top: 10px;
  padding-left: 20%
}

.list-2 {
  margin-top: 25px

}

.menopause-1 h1{
  color: #D5007E
}
